body {
  background-color: #2e4a99;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  height: 90vh;
  justify-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: calc(5vmin + 5px);
}

h2 {
  font-size: calc(3vmin + 5px);
  justify-content: center;
  display: flex;
  padding: 8vh 0 0 0;
}

nav {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  font-size: calc(1.5vmin + 5px);
}

a {
  color: #fff;
}

nav a {
  margin: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
}

button {
  margin: 5px;
  cursor: pointer;
  border: 2px solid #fff;
  background-color: #2e4a99;
  color: #fff;
  padding: 10px;
  font-size: calc(2vmin + 5px);
}

button:hover {
  background-color: #5788fa;
  transition: background-color 0.2s;
}

#quote-container {
  padding: 10px;
  width: 60%;
}

.single-quote {
  padding: 10px;
}

.quote-text {
  font-style: italic;
}

.request-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column
}

.button-container {
  display: inline-flex;
}

.get-quotes {

}